<div class="home-section-2">
    <div class="title">
        <p>构建一站式商业闭环服务</p>
    </div>
    {{!-- 三块功能介绍 --}}
    <div class="function-intro">
        <div class="function-intro-item">
            <div class="function-intro-item-icon">
            </div>
            <div class="function-intro-item-title">
                <p>法律服务</p>
            </div>
            <div class="function-intro-item-content">
                <p>
                    我们对企业或个人提供专业法律服务，
                    从企业经营、知识产权、个人法务等相关支援，到发生纠纷时的应对，我们在各方面为您提供专业性的法律服务。
                </p>
            </div>
            <div class="function-intro-item-more">
                <p>查看更多</p>
            </div>
        </div>
        <div class="function-intro-item">
            <div class="function-intro-item-icon">
            </div>
            <div class="function-intro-item-title">
                <p>商业调查</p>
            </div>
            <div class="function-intro-item-content">
                <p>
                    由国内顶尖的技术团队、调查团队、法务团队组成。可以对企业或个人进行全方位的调查服务。 
                    <br>
                    包括：道德诚信调查、商业情报调查、商务风险调查、资金信用调查、商业陷阱调查等。
                </p>
            </div>
            <div class="function-intro-item-more">
                <p>查看更多</p>
            </div>
        </div>
        <div class="function-intro-item">
            <div class="function-intro-item-icon">
            </div>
            <div class="function-intro-item-title">
                <p>品牌运营</p>
            </div>
            <div class="function-intro-item-content">
                <p>
                    基于法律服务和商业调查服务，运营团队可以安全、可靠的为您提供品牌运营服务。
                    <br>
                    包括：IP代理授权、品牌策划、品牌设计、品牌经营、品牌管理、品牌推广、品牌维护等。
                </p>
            </div>
            <div class="function-intro-item-more">
                <p>查看更多</p>
            </div>
        </div>
    </div>
</div>