{{!-- 联系我们 微信 地址 --}}
<div class="section-4">
    <div class="section-4-item">
        <div class="section-4-title">
            <h2>联系我们</h2>
        </div>
        <div class="section-4-content">
            <div class="section-4-content-img">
                <img src="assets/images/wecom.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="section-4-item">
        <div class="section-4-title">
            <h2>关注我们</h2>
        </div>
        <div class="section-4-content">
            <div class="section-4-content-img">
                <img src="assets/images/wechat-office.jpg" alt="">
            </div>
        </div>
    </div>
</div>