<div class="home-section-3">
    {{!-- 合作伙伴 --}}
    <div class="title">
        <h2>合作伙伴</h2>
        {{!-- 副标题 --}}
        <p>用科技重塑商业模式，以合作谱写繁荣生态</p>
    </div>
    <div class="content">
        {{!-- 企业logo和名称 --}}
        <div class="partner-content-item">
            <div class="partner-content-item-logo">
                <img src="assets/images/logo/谜底科技.jpeg" alt="">
            </div>
            <div class="partner-content-item-name">
                <p>杭州谜底科技有限公司</p>
            </div>
        </div>
        <div class="partner-content-item">
            <div class="partner-content-item-logo">
                <img src="assets/images/logo/dida365.jpeg" alt="">
            </div>
            <div class="partner-content-item-name">
                {{!-- https://dida365.com/ --}}
                <p>滴答清单</p>
            </div>
        </div>
        <div class="partner-content-item">
            <div class="partner-content-item-logo">
                <img src="assets/images/logo/米哈游.jpeg" alt="">
            </div>
            <div class="partner-content-item-name">
                <p>米哈游</p>
            </div>
        </div>
        <div class="partner-content-item">
            <div class="partner-content-item-logo">
                <img src="assets/images/logo/周黑鸭.jpeg" alt="">
            </div>
            <div class="partner-content-item-name">
                <p>周黑鸭</p>
            </div>
        </div>
        <div class="partner-content-item">
            <div class="partner-content-item-logo">
                <img src="assets/images/logo/鸿山环境集团.jpg" alt="">
            </div>
            <div class="partner-content-item-name">
                <p>鸿山环境集团</p>
            </div>
        </div>
        <div class="partner-content-item">
            <div class="partner-content-item-logo">
                <img src="assets/images/logo/泸州老窖.jpg" alt="">
            </div>
            <div class="partner-content-item-name">
                <p>泸州老窖</p>
            </div>
        </div>
        <div class="partner-content-item">
            <div class="partner-content-item-logo">
                <img src="assets/images/logo/懒猫存钱.png" alt="">
            </div>
            <div class="partner-content-item-name">
                <p>懒猫存钱</p>
            </div>
        </div>
        <div class="partner-content-item">
            <div class="partner-content-item-logo">
                <img src="assets/images/logo/杭州林檎文化用品有限公司.jpg" alt="">
            </div>
            <div class="partner-content-item-name">
                <p>林檎文化</p>
            </div>
        </div>
        <div class="partner-content-item">
            <div class="partner-content-item-logo">
                <img src="assets/images/logo/小熊奶黄包.jpeg" alt="">
            </div>
            <div class="partner-content-item-name">
                <p>小熊奶黄包</p>
            </div>
        </div>
        <div class="partner-content-item">
            <div class="partner-content-item-logo">
                <img src="assets/images/logo/骑客.jpg" alt="">
            </div>
            <div class="partner-content-item-name">
                <p>杭州骑客智能科技有限公司</p>
            </div>
        </div>
        <div class="partner-content-item">
            <div class="partner-content-item-logo">
                <img src="assets/images/logo/谜底科技.jpeg" alt="">
            </div>
            <div class="partner-content-item-name">
                <p>杭州谜底科技有限公司</p>
            </div>
        </div>
        <div class="partner-content-item">
            <div class="partner-content-item-logo">
                <img src="assets/images/logo/dida365.jpeg" alt="">
            </div>
            <div class="partner-content-item-name">
                {{!-- https://dida365.com/ --}}
                <p>滴答清单</p>
            </div>
        </div>
        <div class="partner-content-item">
            <div class="partner-content-item-logo">
                <img src="assets/images/logo/米哈游.jpeg" alt="">
            </div>
            <div class="partner-content-item-name">
                <p>米哈游</p>
            </div>
        </div>
        <div class="partner-content-item">
            <div class="partner-content-item-logo">
                <img src="assets/images/logo/周黑鸭.jpeg" alt="">
            </div>
            <div class="partner-content-item-name">
                <p>周黑鸭</p>
            </div>
        </div>
        <div class="partner-content-item">
            <div class="partner-content-item-logo">
                <img src="assets/images/logo/鸿山环境集团.jpg" alt="">
            </div>
            <div class="partner-content-item-name">
                <p>鸿山环境集团</p>
            </div>
        </div>
        <div class="partner-content-item">
            <div class="partner-content-item-logo">
                <img src="assets/images/logo/泸州老窖.jpg" alt="">
            </div>
            <div class="partner-content-item-name">
                <p>泸州老窖</p>
            </div>
        </div>
        <div class="partner-content-item">
            <div class="partner-content-item-logo">
                <img src="assets/images/logo/懒猫存钱.png" alt="">
            </div>
            <div class="partner-content-item-name">
                <p>懒猫存钱</p>
            </div>
        </div>
        <div class="partner-content-item">
            <div class="partner-content-item-logo">
                <img src="assets/images/logo/杭州林檎文化用品有限公司.jpg" alt="">
            </div>
            <div class="partner-content-item-name">
                <p>林檎文化</p>
            </div>
        </div>
        <div class="partner-content-item">
            <div class="partner-content-item-logo">
                <img src="assets/images/logo/小熊奶黄包.jpeg" alt="">
            </div>
            <div class="partner-content-item-name">
                <p>小熊奶黄包</p>
            </div>
        </div>
        <div class="partner-content-item">
            <div class="partner-content-item-logo">
                <img src="assets/images/logo/骑客.jpg" alt="">
            </div>
            <div class="partner-content-item-name">
                <p>杭州骑客智能科技有限公司</p>
            </div>
        </div>
    </div>
</div>